@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'event';
@use 'variables';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    color: variables.$textColor;
    list-style: none;
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
       max-width:100%;
       width: 100%;
       margin: 0;

       @media (max-width: 640px){
        max-width: 80%;
       }

       @media (max-width: 1024px ) {
        max-width: 90%;
       }
}